.mainWrapper {
  width: 100%;
  position: relative;
  height: 1500px;
}

.mainWrapper .introWrapper {
  padding-top: 70px;
  height: 200px;
  width: 100%;
  background-color: orange;
  position: relative;
}

.mainWrapper .introWrapper .fTitleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
}

.mainWrapper .introWrapper .fTitleBox .fTitle {
  font-size: 50px;
  letter-spacing: -0.05em;
  color: white;
  margin: 0px;
  padding: 0px 5px 0px 0px;
  font-weight: 400;
  padding-right: 20px;
}

.mainWrapper .introWrapper .fTitleBox .fLine {
  border-right: 1px solid white;
}

.mainWrapper .introWrapper .fTitleBox .fText {
  font-size: 15px;
  font-weight: 400;
  color: white;
  vertical-align: 10px;
  padding-left: 20px;
  padding-top: 22px;
}

.mainWrapper .newsDetailNav {
  width: 920px;
  height: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.mainWrapper .newsDetailNav li {
  float: left;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.mainWrapper .newsDetailNav li .navButton {
  cursor: pointer;
}

.mainWrapper .newsDetailNav li:not(:last-child):hover {
  color: orange;
}

.mainWrapper .newsDetailNav li:not(:last-child):after {
  content: ">";
  color: orange;
  padding-left: 15px;
}

.mainWrapper .newsWrap {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

.mainWrapper .newsWrap .newsInnerWrap {
  background-color: white;
  width: 800px;
  margin: 0 auto;
  height: auto;
}

.mainWrapper .newsWrap .newsInnerWrap .newsList {
  list-style: none;
  margin: 0;
  width: 800px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-left: 25px;
  text-align: center;
}

.mainWrapper .newsWrap .newsInnerWrap .newsList .newsItem {
  margin-bottom: 20px;
  border-bottom: 2px dotted #ccc;
  padding-bottom: 15px;
}

.mainWrapper .newsWrap .newsInnerWrap .newsList .newsItem:last-child {
  margin-bottom: 0;
}

.mainWrapper .newsWrap .newsInnerWrap .newsList .newsItem .newsTag .newsTagButton {
  background-color: #f08000;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 11px;
  padding: 5px 15px 6px;
  font-weight: 600;
  font-size: 14px;
}

.mainWrapper .newsWrap .newsInnerWrap .newsList .newsItem .newsTitle .newsTitleButton {
  color: #333;
  margin: 0;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 105px;
  text-decoration: none;
  color: #6b6b6b;
  display: block;
  font-weight: 600;
  text-align: left;
  position: relative;
}

.mainWrapper .newsWrap .newsInnerWrap .newsList .newsItem .newsTitle .newsTitleButton:hover {
  color: rgba(238, 148, 3, 0.8);
  cursor: pointer;
}

.mainWrapper .newsWrap .newsInnerWrap .newsList .newsItem .newsData {
  margin-right: 20px;
  color: #f08000;
  font-size: 90%;
  float: left;
  color: rgba(238, 148, 3, 0.8);
  margin-left: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
/*# sourceMappingURL=news_page.module.css.map */