@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.mainWrapper {
  background-image: url("../../static/images/square-150.png");
  background-size: 60px;
  background-attachment: fixed;
  background-color: #fbf9f5;
}

.bgImageContainer {
  padding-top: 70px;
  height: 890px;

  .bgText {
    writing-mode: vertical-rl;
    position: absolute;
    z-index: 100;
    top: 100px;
    right: 40px;
    height: auto;

    .bg_li1 {
      border-radius: 13px;
      background-color: #fff;
      margin-left: 30px;
      width: 50px;
      padding-right: 12px;
      text-align: center;
      height: 250px;

      span {
        font-size: 22px;
        font-weight: 600;
        color: #000000a6;
        font-family: "Zen Kurenaido", sans-serif;
      }
    }
    .bg_li2 {
      border-radius: 13px;
      background-color: #fff;
      margin-left: 30px;
      width: 50px;
      padding-right: 12px;
      text-align: center;
      height: 250px;

      span {
        font-size: 22px;
        font-weight: 600;
        color: #000000a6;
        font-family: "Zen Kurenaido", sans-serif;
      }
    }
    .bg_li3 {
      border-radius: 13px;
      background-color: #fff;
      margin-left: 30px;
      width: 50px;
      padding-right: 12px;
      text-align: center;
      height: 250px;

      span {
        font-size: 22px;
        font-weight: 600;
        color: #000000a6;
        font-family: "Zen Kurenaido", sans-serif;
      }
    }
  }
}

.bgImageWrapper {
  width: 98%;
  height: 890px;
  border: 2px solid orange;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .bgItem1 {
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: anime 19s 0s infinite;

    &:nth-of-type(2) {
      animation-delay: 4s;
    }

    &:nth-of-type(3) {
      animation-delay: 8s;
    }

    &:nth-of-type(4) {
      animation-delay: 12s;
    }
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  59% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 9;
  }
}

// .titleWrapper {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 99;

//   .title {
//     font-weight: 600;
//     letter-spacing: 1px;
//     line-height: 1.5;
//     text-align: center;
//     background-color: rgba(238, 148, 3, 0.8);
//     padding: 30px;
//     border-radius: 50%;
//     font-size: 27px;
//     font-family: serif;
//     color: #fff;
//   }
// }

.introWrapper {
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  height: 60px;
  width: 98%;
  background-color: orange;
  position: relative;
  .intro {
    margin-top: 25px;
    text-align: center;
    color: #fff;
    font-family: serif;
    font-weight: 900;
    position: absolute;
    width: 700px;
    font-size: 22px;
    top: 60%;
    transform: translate(-50%, -50%);
    left: 50%;
    margin: 0;
    padding: 0 20px;
  }
}

.bgPc {
  background-image: url("../../static/images/square-150.png");
  height: 2940px;
  width: 100%;
  background-size: 60px;
  background-attachment: fixed;
  background-color: rgb(251, 249, 245);
}
