footer {
  padding-bottom: 100px;
  width: 100%;

  .footerWrap {
    width: 1080px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .map_canvas {
    background-color: orange;
    width: 200px;
    height: 200px;
  }
}
